anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==2024.2
defusedxml==0.7.1
Django==5.0.7
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-filter==24.2
django-modelcluster==6.3
django-permissionedforms==0.1
django-taggit==5.0.1
django-theme-soft-design==1.0.10
django-treebeard==4.7.1
djangorestframework==3.15.2
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
filetype==1.2.0
greenlet==3.0.3
gunicorn==22.0.0
httpie==3.2.3
idna==3.7
l18n==2021.3
laces==0.1.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.8
multidict==6.1.0
mysqlclient==2.2.4
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pillow==10.4.0
pillow_heif==0.17.0
psycopg2-binary==2.9.9
pur==7.3.2
Pygments==2.18.0
pynvim==0.5.0
PySocks==1.7.1
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.8.1
setuptools==71.1.0
shortuuid==1.0.13
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
str2bool==1.1
telepath==0.3.1
urllib3==2.2.2
wheel==0.43.0
whitenoise==6.7.0
Willow==1.8.0
